.container {
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

h1 {
  font-size: 48px;
  margin-top: 10px;
}

button {
  font-size: 24px;
  padding: 20px 40px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}

#increaseBtn {
  background-color: green;
  color: white;
}

#decreaseBtn {
  background-color: red;
  color: white;
}

#resetBtn {
  background-color: blue;
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image-container img {
  width: 256px;
  margin: 10px;
}
